.typing{
    margin-top: 150px;
}
.heading-text{
    font-size: x-large;
    margin-bottom: 30px;
    color: rgb(10, 10, 53);
}
.text{
    font-size: 20px;
    color: rgb(21, 21, 21);
}
.animated-text{
    font-size: x-large;
    color: rgb(10, 10, 53);
}