.about-section{
    height: 40rem;
    padding: 5rem 3rem;
    display: flex;
    background: #F6F9FC;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.left{
    width: 50%;
    padding-left: 6rem;
}
.left .heading{
    align-items: center;
    font-size: xx-large;
    margin-bottom: 2rem;
}
.left .about-text{
    font-size: 20px;
    width: 35rem;
}
.right{
    width: 50%;
}
.right img{
    width: 50rem;
}