.custom-shape-divider-top-1697883188 {
  width: 100%;
  overflow: hidden;
  height: 10rem;
  color: black;
  background-color: #ffffff;
}

.custom-shape-divider-top-1697883188 svg {
  width: calc(100% + 1.3px);
  height: 161px;
}

.custom-shape-divider-top-1697883188 .shape-fill {
  fill: #010038;
}
.footer-text{
  margin-left: 5rem;
  margin-bottom: 5rem;
  font-weight: 700;
  font-size: large;
}